//後台線路列表
.line-container {
  .line-bodys {
    border-top: 1px solid $gray-line-color;
    padding: 40px 20px;
    .line-product-head {
      color: $black-text-color;
      padding-bottom: 10px;
      border-bottom: 1px solid $input-text-color;
    }
    .line-item {
      padding-top: 40px;
      .order-link a {
        margin-top: 0;
      }
      .order-link:first-child {
        margin-right: 40px;
      }
    }
    .line-item:last-child {
      border-bottom: none;
    }
  }
}

//發佈線路
.line-post-contaier {
  border: solid 1px $gray-line-color;
  border-radius: 14px;
  padding: 20px;
  min-height: 700px;
  .post-success {
    margin-top: 132px;
    .post-success-title {
      margin-top: 40px;
      color: $gray-font-color;
      margin-bottom: 20px;
    }
    .post-success-text {
      color: $gray-font-color;
      margin-bottom: 60px;
    }
    .order-link a {
      margin-top: 40px;
    }
    .success-submit {
      padding: 12px 67px;
    }
  }
  .label-title {
    font-size: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-weight: inherit;
    color: $light-blue-line;
  }
  .reference-btn {
    padding: 12px 40px;
    margin-right: 20px;
  }
  .default-bg {
    background: $white-text-color !important;
    border: 1px solid $input-text-color !important;
  }
  .default-bg:hover {
    background: $input-text-color !important;
  }
  .post-border {
    margin-top: 15px;
    margin-bottom: 40px;
    border-bottom: 6px solid $black-dark-bg;
  }
  .line-post-date-item {
    .day-title {
      padding: 5px 20px;
      background-image: linear-gradient(45deg,
        $primary-color 0%,
        $primary-dark-bg 100%),
      linear-gradient(
          $primary-color,
          $primary-color);
      background-blend-mode: normal,
      normal;
      box-shadow: 0px 4px 8px 0px rgba(255, 212, 100, 0.4);
      border-radius: 0px 20px 20px 0px;
      font-size: $font-size-h2;
      color: $gray-font-color;
      margin-bottom: 40px;
    }
  }
  textarea.ivu-input{
    min-height: 200px!important;
  }
  .meals-content{
    margin-bottom: 20px;
  }
}

.line-post-profile {
  margin-top: 40px;
  .img-label {
    font-size: 20px;
    color: $light-blue-line;
    .more-img {
      font-size: $letter-spacing-base;
    }
  }
  .line-upload {
    padding-bottom: 40px;
    border-bottom: 6px solid $black-dark-bg;
  }
  .add-objective-btn {
    padding: 12px 108px;
  }
  .select-objective {
    margin-top: 20px;
    padding-bottom: 40px;
    .select-objective-content {
      .item {
        margin-right: 20px;
        border-radius: 20px;
        border: solid 1px $input-text-color;
        padding: 13px 20px;
        cursor: pointer;
      }
    }
  }
  .radio{
    border: 1px solid $input-text-color;
    border-radius: 15px;
    padding: 0px 20px;
  }
  .margin-left-20{
    margin-left: 20px;
  }
  .line-post-submit {
    margin-top: 35px;
    padding: 12px 125px;
  }
  .line-post-price {
    border-top: 6px solid $black-dark-bg;
    padding-top: 40px;
  }

}
