Dear {{ fullName }},
<br><p>
  Please copy the verifying code to APP：
   </a>
  <br><p>
  {{code}}
  <br><p>
  If this email means nothing to you, then it is possible that somebody else has entered your email address either deliberately or accidentally, so
  please ignore this email.
  <br><p>
  Thanks,<br>
  {{ siteTeamName }}
  <br><p>
  For any further queries contact: {{ siteSupportEmail }}

